@mixin border-radius($value) {
    border-radius:$value;
    -webkit-border-radius:$value;
    -moz-border-radius:$value;
    -ms-border-radius:$value;
}

@mixin box-shadow($value) {
    -webkit-box-shadow: $value;
    -moz-box-shadow: $value;
    box-shadow: $value;
}

@mixin animation-name($name) {
    animation-name:$name;
    -webkit-animation-name:$name;
    -moz-animation-name:$name;
    -ms-animation-name:$name;
}

@mixin animation-duration($length) {
    animation-duration:$length;
    -webkit-animation-duration:$length;
    -moz-animation-duration:$length;
    -ms-animation-duration:$length;
}


@mixin animation-delay($length) {
    animation-delay:$length;
    -webkit-animation-delay:$length;
    -moz-animation-delay:$length;
    -ms-animation-delay:$length;
}