// Refining top-bar: logo, search and menu

.top-bar {
    background-color:$white;
    ul {
        background-color:$white;
        li {
            a {
                text-transform: uppercase;
                color: $dark-grey;
                background-color:$white;
            }
        }
    }
    .top-bar-title {
        margin:25px 0 25px 25px;
        @include animation-name(fadeIn);
        @include animation-duration(3s);
    }
    
    .top-bar-right {
        margin:25px 0;
        @include animation-name(fadeIn);
        @include animation-duration(3s);
        
        input[type=search] {
            width:97%;
            color: $medium-grey;
            @include border-radius(10px);
            padding:0 0 0 40px;
            background:url("../img/i-busca.png") no-repeat 10px;
            border:1px solid $medium-grey;
        }
        
        .menu {
            li:first-child {
                a {
                    padding-left:0;
                }
            }
            li {
                a {
                    &:hover {
                        color:#05a4a7;
                    }
                }
            }
        }
    }
    
}


// Refining Auto-Complete Elements

.ui-widget-content {
    border:1px solid $medium-grey !important;
    background:$white;
}
        
.ui-widget {
    font-family:$default-font;
    font-size:1em;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    border:1px solid $light-grey;
    background:$light-grey !important;
}