.top-bar {
    background-color:$white;
    ul {
        background-color:$white;
        li {
            a {
                text-transform: uppercase;
                color: $dark-grey;
                background-color:$white;
            }
        }
    }
    .top-bar-title {
        margin:25px 0 25px 25px;
    }
    
    .top-bar-right {
        margin:25px 0;
        
        input[type=search] {
            width:97%;
            color: $medium-grey;
            text-transform:uppercase;
            @include border-radius(10px);
            padding:0 0 0 40px;
            background:url("../img/i-busca.png") no-repeat 10px;
        }
    }
    
    .menu {
        li:first-child {
            a {
                padding-left:0;
            }
        }
    }
}