@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,700,600italic,700italic,800,800italic);
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900italic,900);
body {
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
}

.row {
  max-width: 960px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes colorLink {
  0% {
    color: #9e9898;
  }
  100% {
    color: #05a4a7;
  }
}
.top-bar {
  background-color: #fff;
}
.top-bar ul {
  background-color: #fff;
}
.top-bar ul li a {
  text-transform: uppercase;
  color: #585f66;
  background-color: #fff;
}
.top-bar .top-bar-title {
  margin: 25px 0 25px 25px;
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -ms-animation-name: fadeIn;
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -ms-animation-duration: 3s;
}
.top-bar .top-bar-right {
  margin: 25px 0;
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -ms-animation-name: fadeIn;
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -ms-animation-duration: 3s;
}
.top-bar .top-bar-right input[type=search] {
  width: 97%;
  color: #9e9898;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  padding: 0 0 0 40px;
  background: url("../img/i-busca.png") no-repeat 10px;
  border: 1px solid #9e9898;
}
.top-bar .top-bar-right .menu li:first-child a {
  padding-left: 0;
}
.top-bar .top-bar-right .menu li a:hover {
  animation-name: colorLink;
  -webkit-animation-name: colorLink;
  -moz-animation-name: colorLink;
  -ms-animation-name: colorLink;
  animation-duration: 0.7s;
  -webkit-animation-duration: 0.7s;
  -moz-animation-duration: 0.7s;
  -ms-animation-duration: 0.7s;
}

.ui-widget-content {
  border: 1px solid #9e9898 !important;
  background: #fff;
}

.ui-widget {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  border: 1px solid #ccd1d1;
  background: #ccd1d1 !important;
}

.main-features {
  width: 100%;
  display: block;
  margin: 0 auto;
  background: url(../img/bg-feaured) center;
  padding: 15px 0;
}
.main-features img {
  width: 100%;
}
.main-features img:hover {
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
}

.main-features {
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -ms-animation-name: fadeIn;
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -ms-animation-duration: 3s;
}
